
.reveal .slides {
    text-align: left;
}

.reveal .slides hr {
    color: red;
    height: 1px;
    border: none;
    background-color: red;
}

div.left-wide-pane {
    float: left;
    width: 55%;
    text-align: left;
    margin-left: 1em;
    margin-right: 1em;
}

div.right-narrow-pane {
    float: right;
    width: 35%;
    margin-left: 1em;
    margin-right: 1em;
    text-align: left;
}


.reveal {
   font-size: 2em;
}

.reveal pre code {
    max-height: 25em;
    font-size:1.6em;
    line-height: 1.2em;
    margin-left: 0;
    margin-right: 0;
}

.reveal pre {
    margin-left: 0;
    margin-right: 0;
    width: 100%;
}



